cmake-build-debug/_deps/curl-src/tests/
/.data/
/.idea/
.idea/.name
*.iml
*.xml
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
*.json
*.cmake
cmake-build-debug/.ninja_deps
*.obj
cmake-build-debug/_deps/cpr-src/
*.c
*.3
*.in
cmake-build-debug/_deps/curl-src/tests/data/test1048
cmake-build-debug/_deps/curl-src/tests/data/test1047
cmake-build-debug/_deps/curl-src/tests/data/test105
*.dj
*.netware
*.pl
*.der
*.csr
*.pem
*.am
*.hpp
cmake-build-debug/_deps/zlib-subbuild/zlib-populate-prefix/src/zlib-populate-stamp/
*.bin
*.log
*.dll
cmake-build-debug/_deps/zlib-subbuild/zlib-populate-prefix/tmp
cmake-build-debug/_deps/
*.a
cmake-build-debug/_deps/cpr-subbuild/CMakeFiles/cpr-populate-complete
*.ninja
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.exe
cmake-build-debug/build.ninja.tmp301a4
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja.tmp3810d
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
